<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="asdev.amansoft.com.colorclick">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/color_click_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_color_click_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Promotion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PersonalHighScore"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WorldHighScore"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShowScore"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FirstRun"
            android:theme="@style/Theme.Intro"
            />
        <activity
            android:name=".signin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Game"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="fd1dc6946242e95b347343fec300e3554407ab72" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3923725939846581~5446112036" />
    </application>

</manifest>